<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Common.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Legend.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='TemperatureChart.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='RampChart.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div id="legend"></div>
    <p></p>
    <div id="temp_chart"></div>
    <p></p>
    <div id="ramp_chart"></div>
    <script>
        // Create the legend
        const legend_obj = new Legend(928, false);
        const legend_chart = legend_obj.createChart([]);
        d3.select('#legend').append(() => legend_chart.node());

        // Create the temperature chart
        const temp_obj = new TemperatureChart(928, 500, false);
        const temp_chart = temp_obj.createChart([]);
        d3.select('#temp_chart').append(() => temp_chart.node());

        // Create the ramp chart
        const ramp_obj = new RampChart(928, 500);
        const ramp_chart = ramp_obj.createChart([]);
        d3.select('#ramp_chart').append(() => ramp_chart.node());

        // Update the data
        d3.json("/records").then(json => {
            temp_obj.updateChartData(temp_chart, json);
            ramp_obj.updateChartData(ramp_chart, json);
            legend_obj.updateChartData(legend_chart, json);
        })
        .catch(error => {
            console.error("Error loading JSON data:", error);
        });

        // Continue to update the charts periodically
        var intervalId = setInterval(function() {
            d3.json("/records").then(json => {
                temp_obj.updateChartData(temp_chart, json);
                ramp_obj.updateChartData(ramp_chart, json);
                legend_obj.updateChartData(legend_chart, json);
            })
            .catch(error => {
                console.error("Error loading JSON data:", error);
            });
        }, 60000);
    </script>
</body>
</html>
